<nav class="navbar navbar-expand-md" style="background-color: #0a3b3b">
    <h2 class="text-white">
        Tripify <i class='material-icons'>flight</i> </h2>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapse-nav-bar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapse-nav-bar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link  text-white" href="">Home</a>
            </li>
            <li class="nav-item" *ngIf="!getLoggedIn()">
                <a class="nav-link  text-white" href="login">Login</a>
            </li>
            <li class="nav-item" *ngIf="!getLoggedIn()">
                <a class="nav-link  text-white" href="buyer-signup">Register</a>
            </li>
            <li class="nav-item" *ngIf="getLoggedIn()">
                <a class="nav-link text-white" href="cart-list">Cart</a>
            </li>
            <li class="nav-item" *ngIf="getLoggedIn()">
                <a class="nav-link text-white" href="bill-list">Purchase History</a>
            </li>
            <li>
                <li class="nav-item" *ngIf="getLoggedIn()">
                <a class="nav-link text-white" href="feedback">Feedback</a>
            </li>

            <li class="nav-item" *ngIf="getLoggedIn()">
                <a class="nav-link text-white" href="logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
