<!DOCTYPE html>    
<html>    
<head>    
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>    
<body>    
    <h2>FEED BACK FORM</h2>    
<div class="container">    
  <form>
    <div class="row">    
      <div class="col-25">    
        <label for="feed_back">Feed Back</label>    
      </div>    
      <div class="col-75">    
        <textarea id="message" name="message" placeholder="Write something.." style="height:200px" [(ngModel)]="message" required></textarea>    
      </div>    
    </div>  
    <div class="row">    
      <div class="col-25">    
        <label for="rating">Rating</label>    
      </div>    
      <div class="col-75">    
        <select id="rating" name="Rating" required [(ngModel)]="rating">    
          <option value="none" >Select rating</option>    
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>        
        </select>
      </div>    
    </div>     
    <div class="row">
      <button type="submit" class="feedback-msg-button" (click)="addFeedback()" >Submit</button>  
    </div>  
  </form>    
</div>
</body>    
</html>    